
        h1 {
            color: rgb(247, 8, 8);
        }
        div {
            background-color: rgb(60, 4, 97);
        }
        #green,h3 {
            color: brown;
            background-color: green;
        }
        .blue {
            background-color: blue;
        }
            